@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$gray: #333;
$bg-gray: #f5f2f0;
$border-gray: #e2e2e2;

search-window {
    position: fixed;
    top: 0;
    left: 0;
    width: max-content;

    * {
        font-family: 'Roboto Condensed';
        font-weight: bold;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .wrapper {
        border: 2px solid $border-gray;
        border-radius: 5px;
        background-color: $bg-gray;
        padding-bottom: 13px;
        resize: both;
        overflow: hidden;

        .header {
            align-items: center;
            background: $bg-gray;
            border-bottom: 1px solid $border-gray;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;

            .logo {
                width: 20px;
                pointer-events: none;
            }

            .title {
                color: #000;
                border-bottom: unset;
                font-size: 14px;
                margin: 0;
                padding: 0 10px;
                line-height: 15px;
            }

            .buttons-container {
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;

                .close {
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: relative;

                    &:hover {
                        opacity: 1;
                    }

                    &:after,
                    &:before {
                        position: absolute;
                        left: 7px;
                        content: ' ';
                        height: 15px;
                        width: 2px;
                        background-color: $gray;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .content {
            height: 100%;
        }

        // .resize {
        //     background: url('../icons/resize_icon.svg');
        //     background-repeat: no-repeat;
        //     bottom: 2px;
        //     cursor: nw-resize;
        //     height: 10px;
        //     right: 2px;
        //     position: absolute;
        //     width: 10px;
        //     z-index: 1000;
        // }
    }
}