@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
search-window {
  position: fixed;
  bottom: 0;
  left: 0; }
  search-window * {
    font-family: 'Roboto Condensed';
    font-weight: bold; }
  search-window .wrapper .header {
    align-items: center;
    display: flex; }
    search-window .wrapper .header .logo {
      width: 20px; }
    search-window .wrapper .header .title {
      color: #000;
      border-bottom: unset;
      font-size: 14px;
      margin-bottom: 0;
      padding-bottom: 0; }
    search-window .wrapper .header .close {
      position: absolute;
      right: -20px;
      top: 0;
      width: 15px;
      height: 15px;
      opacity: 0.3; }
      search-window .wrapper .header .close:hover {
        opacity: 1; }
      search-window .wrapper .header .close:after, search-window .wrapper .header .close:before {
        position: absolute;
        left: 7px;
        content: ' ';
        height: 15px;
        width: 2px;
        background-color: #333; }
      search-window .wrapper .header .close:before {
        transform: rotate(45deg); }
      search-window .wrapper .header .close:after {
        transform: rotate(-45deg); }
